{% load static %}

<div class="review-form-wrapper">
    <h3 class="reviews-title">Оставить отзыв</h3>
    <p class="reviews-caption">Ваш отзыв поможет кому-то сделать выбор. Спасибо, что делитесь опытом!</p>
    {% if request.user.is_authenticated %}
        <form action="." method="post" class="review-form">{% csrf_token %}
            <div class="rating-control">
                {% for choice in review_form.rating %}
                    {{ choice.tag }}
                    <label for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
                {% endfor %}
            </div>
            <p class="comment-p">{{ review_form.content.label_tag }}{{ review_form.content }}</p>
            <p>{{ review_form.content_type }}</p>
            <p>{{ review_form.obj_id }}</p>
            <p class="submit-p"><input type="submit" value="Оставить отзыв" class="btn btn-orange"></p>
        </form>
    {% else %}
        <h3 class="login-need-title">Для того, чтобы оставить отзыв, вам необходимо <a href="{% url 'login' %}" target="_blank">авторизоваться</a> или <a href="{% url 'registration' %}" target="_blank">зарегистрироваться</a>.</h3>
    {% endif %}
</div>

<div class="reviews">
    {% for review in instance.reviews %}
        <div class="lead">
            <div class="info">
                <figure class="avatar">
                    {% if review.user.avatar %}
                        <div class="img" style="background-image: url({{ review.user.avatar.sq_xs.url }})" title="{{ review.user }}"></div>
                        <img class="screen-reader-text" src="{{ review.user.avatar.sq_xs.url }}" alt="{{ review.user }}" title="{{ review.user }}">
                    {% else %}
                        <div class="img" style="background-image: url({% static 'img/avatar.png' %})" title="{{ review.user }}"></div>
                        <img class="screen-reader-text" src="{% static 'img/avatar.png' %}" alt="{{ review.user }}" title="{{ review.user }}">
                    {% endif %}
                    <figcaption class="user">{{ review.user.full_name }}</figcaption>
                </figure>
                <span class="timestamp">
                    {% if review.publish_date %}
                        {{ review.publish_date | date }}
                    {% else %}
                        {{ review.timestamp | date }}
                    {% endif %}
                </span>
                <span class="rating">{% for star in review.stars %}<i class="fas fa-star"></i>{% endfor %}</span>
            </div>
            <div class="content">
                <strong>Комментарий:</strong>
                <p>{{ review.content|safe }}</p>
            </div>
        </div>
    {% endfor %}
</div>