{% extends 'base.html' %}{% load sitetree avtopilot_filters thumbnail %}
{% block title %}{{ instance.seo_title|default:instance.title }}{% endblock %}
{% block meta_description %}{{ instance.meta_description|default:'' }}{% endblock %}
{% block meta_keywords %}{{ instance.meta_keywords|default:'' }}{% endblock %}
{% block meta_image %}{% if instance.meta_image %}{{ instance.meta_image.url }}{% endif %}{% endblock %}
{% block body_class %}page page-team{% endblock %}

{% block content %}

    <div class="container">

        {% sitetree_breadcrumbs from "breadcrumbs_pages" template "breadcrumbs.html" %}

        <main class="main-content">
            <section class="content">
                <div class="sticky">

                    <h1 class="page-title">{{ instance.title }}</h1>

                    {% if staff %}
                        {% for depd in staff %}
                            {% if depd.get_members.count %}
                                <section class="staff">
                                    <h3 class="section-title">{{ depd.title }}</h3>
                                    <div class="carousel owl-carousel owl-theme staff-about-carousel">
                                        {% for member in depd.get_members %}
                                            <div class="item">
                                                <a href="{% url 'staff' slug=member.slug %}">
                                                    <div class="image-bg image" style="background-image: url({% thumbnail member.image 480x573 crop upscale %});">
                                                        <img src="{% thumbnail member.image 480x573 crop upscale %}" alt="{{ member.title }}" title="{{ member.title }}" class="screen-reader-text">
                                                    </div>
                                                    <h3>{{ member.title }}</h3>
                                                    <p>{{ member.get_position }}</p>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </section>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    <h3 class="text-center">Остались вопросы?</h3>
                    <div class="button-div bottom">
                        <form method="post" action="{% url 'forms_handler' %}" data-form-bx24>{% csrf_token %}
                            <input type="hidden" name="FORM" value="Остались вопросы? - Страница {{ instance.title }}">
                            {{ inline_form.as_p }}
                            <p class="text-center">
                                <input type="submit" value="Отправить" class="btn btn-orange">
                            </p>
                        </form>
                    </div>

                </div>
            </section>
        </main>

    </div>

{% endblock %}
{% block controls %}
    <a href="{{ instance.get_edit_url }}" target="_blank"><i class="fas fa-edit"></i> Редактировать страницу</a>
{% endblock %}