{% extends 'base.html' %}{% load sitetree %}

{% block content %}

    <div class="container">
        {% sitetree_breadcrumbs from "breadcrumbs_account" template "breadcrumbs.html" %}

        <section class="main-content">
            <main class="content">
                <div class="sticky">
                    <form action="{% url 'password_change' %}" method="post" class="auth-form">{% csrf_token %}
                        <h2>Изменение пароля</h2>
                        {{ form.as_p }}
                        <input type="submit" value="Применить">
                    </form>
                </div>
            </main>
        </section>
    </div>

{% endblock %}