<aside class="sidebar">
    <div class="sticky">
        <div class="widget widget-user">
            {% if user.avatar %}
                <div class="profile-picture" style="background-image:url({{ user.avatar.sq_xs.url }});"></div>
            {% endif %}
            <h1 class="username">{{ user.full_name }}</h1>
            <p class="date-joined"><strong>Дата регистрации:</strong>{{ user.date_joined | date }}</p>
            <p>
                {% if user.is_superuser or user.is_staff %}
                    <small><a href="/aristarx/" target="_blank" class="btn btn-dark">Админ</a></small>
                {% endif %}
                <small><a href="{% url 'logout' %}" class="btn btn-dark btn-outline">Выйти</a></small>
            </p>
        </div>

        <div class="widget widget-navigation">
            <nav>
                <ul>
                    <li>{% url 'account' as url %}
                        <a href="{{ url }}"{% if request.path == url %} class="active"{% endif %}>Профиль</a>
                    </li>
                    <li>
                        <a href="{% url 'cart' %}">Моя корзина</a>
                    </li>
                    <li>{% url 'my_orders' as url %}
                        <a href="{{ url }}"{% if request.path == url %} class="active"{% endif %}>Мои заказы</a>
                    </li>
{#                    <li><a href="#">Сообщения</a></li>#}
                </ul>
            </nav>
        </div>
    </div>
</aside>