{% extends 'base.html' %}{% load sitetree %}
{% load render_bundle from webpack_loader %}
{% block title %}Ваша корзина{% endblock %}
{% block body_class %}cart{% endblock %}
{% block styles %}
	{% render_bundle 'cart' 'css' %}
{% endblock %}

{% block content %}
    <div class="container">

        {% sitetree_breadcrumbs from "breadcrumbs_catalog" template "breadcrumbs.html" %}

        <main class="main-content content-sidebar">

            {% include 'catalog/sidebar.html' %}

            <section class="content">
                <div class="sticky">
                    <div id="main-cart"></div>
                </div>
            </section>

        </main>
    </div>
{% endblock %}

{% block scripts %}
	{% render_bundle 'cart' 'js' %}
{% endblock %}